body{
    background-image: url(./images/ocean-3605547_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* =============================== */
.search-form{
display: flex;
justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
gap: 40px;

}
button{
    cursor: pointer;
  border-radius: 4px;
  border-color: wheat;
  color: #fff;
  background-color: transparent;
  padding: 10px 20px;
}
button:hover,
button:focus{
  color: #014092;
  background-color: wheat;
}
input{
    border-radius: 4px;
  border-color: wheat;
  color: #fff;
  background-color: transparent;
  padding: 10px 20px;
  outline: none;
}
.load-more{
    display: block;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  border-color: wheat;
  color: #fff;
  background-color: transparent;
}

.load-more:hover,
.load-more:focus{
  color: #014092;
  background-color: wheat;
}
.gallery{
   
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px; 
}
img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
}
.js-gallery{
    text-decoration: none;
}
.photo-card{
    /* border: 1px solid grey; */
    border-radius: 10px;
    border-left: 1px solid rgb(222, 222, 222);
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  -webkit-box-shadow: 7px 9px 7px -4px rgba(0,0,0,0.7);
  -moz-box-shadow: 7px 9px 7px -4px rgba(0,0,0,0.7);
  box-shadow: 7px 9px 7px -4px rgba(0,0,0,0.7);
  transition: transform 250ms ease-in-out
}
.photo-card:hover,
.photo-card:focus{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
   gap: 10px;
   color: wheat;
   font-weight: 500;
   font-size: 15px;
   line-height: 1;
   text-align: center;
   font-weight: 500;
   line-height: 1.75rem;
}
.info-item{
    display: flex;
    justify-content: center;
    align-items: center;
 flex-direction: column;
}
.btn-up {
  position: fixed;

  background-color: transparent;
  border-color: wheat;
  right: 20px;
  bottom: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 50px;
}

.btn-up::before {
  content: "";
  width: 40px;
  height: 40px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
  display: none;
}


  .btn-up:hover {
    background-color: wheat; 
  }
